In [565]:
import pandas as pd
import random
import seaborn as sns
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

#algoritmos
from sklearn.linear_model import LinearRegression #Regresion Lineal
from sklearn.linear_model import  LogisticRegression #Regresion logistica
from sklearn.tree import DecisionTreeClassifier#Arboles de decision
from sklearn.tree import plot_tree
from sklearn.ensemble import RandomForestClassifier #Bosques aleatorios
from sklearn.metrics import mean_squared_error # calcula el error cuadratico medio

In [567]:
import random

# Generación del dataset
dataset = {
    "EmpleadoID": [i for i in range(1, 101)],
    "Edad": [random.randint(22, 60) for _ in range(100)],
    "Anios_Experiencia": [random.randint(0, 40) for _ in range(100)],
    "Nivel_Educacion": [random.choice(["Secundario", "Universitario", "Posgrado"]) for _ in range(100)],
    "Puntaje_Desempeno": [round(random.uniform(50, 100), 2) for _ in range(100)],
    "Certificaciones": [random.randint(0, 5) for _ in range(100)],
    "Horas_Extra": [random.randint(0, 20) for _ in range(100)],
    "Departamento": [random.choice(["Ventas", "IT", "RRHH", "Finanzas", "Producción"]) for _ in range(100)],
    "Genero": [random.choice(["Masculino", "Femenino"]) for _ in range(100)],
    "Estado_Civil": [random.choice(["Soltero", "Casado", "Divorciado"]) for _ in range(100)],
    "Salario": [random.randint(30000, 120000) for _ in range(100)],
    "Satisfaccion_Laboral": [random.randint(1, 5) for _ in range(100)],  # Escala de 1 a 5
    "Evaluacion_Anual": [random.randint(1, 10) for _ in range(100)],  # Escala de 1 a 10
    "Promedio_Horas_Trabajo": [random.randint(30, 60) for _ in range(100)],
    "Promovido": [random.choice([0, 1]) for _ in range(100)]  # 0: No promovido, 1: Promovido
}

# Ejemplo de cómo convertirlo en un DataFrame si usas pandas
import pandas as pd
df = pd.DataFrame(dataset)

In [569]:
df = pd.DataFrame(dataset)

In [571]:
df

,EmpleadoID,Edad,Anios_Experiencia,Nivel_Educacion,Puntaje_Desempeno,Certificaciones,Horas_Extra,Departamento,Genero,Estado_Civil,Salario,Satisfaccion_Laboral,Evaluacion_Anual,Promedio_Horas_Trabajo,Promovido
0,1,28,13,Universitario,74.45,3,9,Producción,Femenino,Divorciado,49528,5,4,44,0
1,2,49,29,Secundario,54.87,3,10,Finanzas,Masculino,Soltero,30468,1,2,59,1
2,3,23,19,Posgrado,69.43,1,7,Finanzas,Masculino,Divorciado,72033,5,10,36,1
3,4,37,15,Universitario,56.92,2,11,Ventas,Femenino,Soltero,79361,4,10,53,0
4,5,42,1,Universitario,73.42,2,16,IT,Femenino,Divorciado,61303,3,4,57,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,45,14,Posgrado,63.84,4,4,Producción,Femenino,Soltero,54964,4,9,53,1
96,97,56,3,Posgrado,50.42,1,10,Finanzas,Femenino,Divorciado,50733,3,7,37,0
97,98,40,37,Secundario,51.22,1,18,Ventas,Masculino,Casado,34193,4,8,33,0
98,99,36,36,Posgrado,63.20,5,16,Producción,Masculino,Soltero,48563,2,7,41,1
99,100,44,8,Secundario,65.47,5,6,Ventas,Masculino,Soltero,67449,3,7,30,1

In [573]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EmpleadoID              100 non-null    int64
 1   Edad                    100 non-null    int64
 2   Anios_Experiencia       100 non-null    int64
 3   Nivel_Educacion         100 non-null    object
 4   Puntaje_Desempeno       100 non-null    float64
 5   Certificaciones         100 non-null    int64
 6   Horas_Extra             100 non-null    int64
 7   Departamento            100 non-null    object
 8   Genero                  100 non-null    object
 9   Estado_Civil            100 non-null    object
 10  Salario                 100 non-null    int64
 11  Satisfaccion_Laboral    100 non-null    int64
 12  Evaluacion_Anual        100 non-null    int64
 13  Promedio_Horas_Trabajo  100 non-null    int64
 14  Promovido               100 non-null    int64
dtypes: float64(1), int64(10), object(4)
memory usage: 11.8+ KB

In [575]:
df.isnull().sum()

EmpleadoID                0
Edad                      0
Anios_Experiencia         0
Nivel_Educacion           0
Puntaje_Desempeno         0
Certificaciones           0
Horas_Extra               0
Departamento              0
Genero                    0
Estado_Civil              0
Salario                   0
Satisfaccion_Laboral      0
Evaluacion_Anual          0
Promedio_Horas_Trabajo    0
Promovido                 0
dtype: int64

In [577]:
df.describe()

,EmpleadoID,Edad,Anios_Experiencia,Puntaje_Desempeno,Certificaciones,Horas_Extra,Salario,Satisfaccion_Laboral,Evaluacion_Anual,Promedio_Horas_Trabajo,Promovido
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,50.500000,41.430000,19.710000,74.620600,2.260000,9.960000,70781.250000,2.920000,5.330000,44.870000,0.510000
std,29.011492,10.878814,11.712287,14.759424,1.580308,5.738264,26899.377682,1.268738,2.864111,9.012511,0.502418
min,1.000000,22.000000,0.000000,50.420000,0.000000,0.000000,30366.000000,1.000000,1.000000,30.000000,0.000000
25%,25.750000,34.000000,9.000000,60.922500,1.000000,5.000000,47568.500000,2.000000,3.000000,37.000000,0.000000
50%,50.500000,42.000000,20.500000,76.680000,2.000000,10.000000,68343.500000,3.000000,5.000000,44.000000,1.000000
75%,75.250000,50.000000,29.000000,84.757500,3.000000,14.000000,93689.250000,4.000000,8.000000,53.000000,1.000000
max,100.000000,60.000000,40.000000,99.930000,5.000000,20.000000,119916.000000,5.000000,10.000000,60.000000,1.000000

In [579]:
label_encoder = LabelEncoder()

# Transformar cada columna
df["Nivel_Educacion"] = label_encoder.fit_transform(df["Nivel_Educacion"])
df["Departamento"] = label_encoder.fit_transform(df["Departamento"])
df["Genero"] = label_encoder.fit_transform(df["Genero"])
df["Estado_Civil"] = label_encoder.fit_transform(df["Estado_Civil"])

In [581]:
df

,EmpleadoID,Edad,Anios_Experiencia,Nivel_Educacion,Puntaje_Desempeno,Certificaciones,Horas_Extra,Departamento,Genero,Estado_Civil,Salario,Satisfaccion_Laboral,Evaluacion_Anual,Promedio_Horas_Trabajo,Promovido
0,1,28,13,2,74.45,3,9,2,0,1,49528,5,4,44,0
1,2,49,29,1,54.87,3,10,0,1,2,30468,1,2,59,1
2,3,23,19,0,69.43,1,7,0,1,1,72033,5,10,36,1
3,4,37,15,2,56.92,2,11,4,0,2,79361,4,10,53,0
4,5,42,1,2,73.42,2,16,1,0,1,61303,3,4,57,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,45,14,0,63.84,4,4,2,0,2,54964,4,9,53,1
96,97,56,3,0,50.42,1,10,0,0,1,50733,3,7,37,0
97,98,40,37,1,51.22,1,18,4,1,0,34193,4,8,33,0
98,99,36,36,0,63.20,5,16,2,1,2,48563,2,7,41,1
99,100,44,8,1,65.47,5,6,4,1,2,67449,3,7,30,1

In [583]:
escala =  MinMaxScaler(feature_range=(0,1)) #Define el rango al que se escalarán los datos. En este caso, los valores se escalan entre 0 y 1.
normado = escala.fit_transform(df) #Calcula el valor mínimo y máximo de cada columna en el DataFrame original (df)
df_normado = pd.DataFrame(data=normado , columns= df.columns)# verifica que los nombres de las columnas sean iguales a las df orginal

In [585]:
df_normado

,EmpleadoID,Edad,Anios_Experiencia,Nivel_Educacion,Puntaje_Desempeno,Certificaciones,Horas_Extra,Departamento,Genero,Estado_Civil,Salario,Satisfaccion_Laboral,Evaluacion_Anual,Promedio_Horas_Trabajo,Promovido
0,0.000000,0.157895,0.325,1.0,0.485356,0.6,0.45,0.50,0.0,0.5,0.213981,1.00,0.333333,0.466667,0.0
1,0.010101,0.710526,0.725,0.5,0.089881,0.6,0.50,0.00,1.0,1.0,0.001139,0.00,0.111111,0.966667,1.0
2,0.020202,0.026316,0.475,0.0,0.383963,0.2,0.35,0.00,1.0,0.5,0.465293,1.00,1.000000,0.200000,1.0
3,0.030303,0.394737,0.375,1.0,0.131287,0.4,0.55,1.00,0.0,1.0,0.547125,0.75,1.000000,0.766667,0.0
4,0.040404,0.526316,0.025,1.0,0.464553,0.4,0.80,0.25,0.0,0.5,0.345472,0.50,0.333333,0.900000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.959596,0.605263,0.350,0.0,0.271056,0.8,0.20,0.50,0.0,1.0,0.274685,0.75,0.888889,0.766667,1.0
96,0.969697,0.894737,0.075,0.0,0.000000,0.2,0.50,0.00,0.0,0.5,0.227437,0.50,0.666667,0.233333,0.0
97,0.979798,0.473684,0.925,0.5,0.016158,0.2,0.90,1.00,1.0,0.0,0.042736,0.75,0.777778,0.100000,0.0
98,0.989899,0.368421,0.900,0.0,0.258130,1.0,0.80,0.50,1.0,1.0,0.203205,0.25,0.666667,0.366667,1.0
99,1.000000,0.578947,0.200,0.5,0.303979,1.0,0.30,1.00,1.0,1.0,0.414104,0.50,0.666667,0.000000,1.0

In [587]:
X = df_normado.drop('Promovido' , axis=1)

In [589]:
y = df_normado['Promovido']

In [591]:
X_entrena,X_prueba , y_entrena , y_prueba = train_test_split(X,y , train_size=0.8, random_state=42)

In [593]:
modelo = RandomForestClassifier(n_estimators=100, max_depth=10, random_state=42)
modelo.fit(X_entrena,y_entrena)

RandomForestClassifier(max_depth=10, random_state=42)

In [611]:
modelo.score(X_prueba,y_prueba)

0.6

In [595]:
import pandas as pd

nueva_instancia = {
    "EmpleadoID": [1234],
    "Edad": [30],
    "Anios_Experiencia": [5],
    "Nivel_Educacion": ["Universitario"],
    "Puntaje_Desempeno": [90],
    "Certificaciones": [3],
    "Horas_Extra": [10],
    "Departamento": ["IT"],
    "Genero": ["Masculino"],
    "Estado_Civil": ["Soltero"],
    "Salario": [70000],
    "Satisfaccion_Laboral": [4],
    "Evaluacion_Anual": [4.5],
    "Promedio_Horas_Trabajo": [40]
}

In [597]:
df2 = pd.DataFrame(nueva_instancia)

In [599]:
df2

,EmpleadoID,Edad,Anios_Experiencia,Nivel_Educacion,Puntaje_Desempeno,Certificaciones,Horas_Extra,Departamento,Genero,Estado_Civil,Salario,Satisfaccion_Laboral,Evaluacion_Anual,Promedio_Horas_Trabajo
0,1234,30,5,Universitario,90,3,10,IT,Masculino,Soltero,70000,4,4.5,40

In [601]:
label_encoder = LabelEncoder()

# Transformar cada columna
df2["Nivel_Educacion"] = label_encoder.fit_transform(df2["Nivel_Educacion"])
df2["Departamento"] = label_encoder.fit_transform(df2["Departamento"])
df2["Genero"] = label_encoder.fit_transform(df2["Genero"])
df2["Estado_Civil"] = label_encoder.fit_transform(df2["Estado_Civil"])

In [603]:
df2

,EmpleadoID,Edad,Anios_Experiencia,Nivel_Educacion,Puntaje_Desempeno,Certificaciones,Horas_Extra,Departamento,Genero,Estado_Civil,Salario,Satisfaccion_Laboral,Evaluacion_Anual,Promedio_Horas_Trabajo
0,1234,30,5,0,90,3,10,0,0,0,70000,4,4.5,40

In [631]:
# Obtener las probabilidades de las clases
clase_predicha = modelo.predict_proba(df2)

# Verificar si la probabilidad de la clase positiva (clase 1) es mayor que un umbral, por ejemplo 0.5
if clase_predicha[0][1] > 0.5:  # clase_predicha[0][1] es la probabilidad de clase 1
    print(f"El empleado será promovido con una probabilidad de: %{clase_predicha[0][1] :.2f}")
else:
    print(f"El empleado no será promovido con una probabilidad de: %{clase_predicha[0][0]} ")

El empleado será promovido con una probabilidad de: %0.72